@font-face {
    font-family: "Inter-UI";
    src:    local('Inter-UI'),
    url("Inter-UI-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Inter-UI";
    src:    local('Inter-UI'),
    url("Inter-UI-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Inter-UI";
    src:    local('Inter-UI'),
    url("Inter-UI-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Inter-UI";
    src:    local('Inter-UI'),
    url("Inter-UI-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Inter-UI-Medium";
    src:    local('Inter-UI-Medium'),
    url("Inter-UI-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Inter-UI-Medium";
    src:    local('Inter-UI-Medium'),
    url("Inter-UI-MediumItalic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}