@import "../../style";

.article {
  background-color: white;
  width: 940px;
  height: max-content;
  padding: 10px 15px;
  margin: 25px 0;

  display: grid;
  grid-template-rows: 88px 1fr;

  border: $border-grey;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 $border-grey;

  .article__description {
    color: $grey;
    height: auto;
    width: 910px;
    overflow: hidden;
    margin: 0;
  }

  .article__text {
  }
}