@import "../../style";

.article-list {
  list-style: none;

  width: 940px;
  padding: 0;
  margin: 0;

  .spin {
    margin: 40px;
    width: 940px;
    display: flex;
    justify-content: center;
  }
  .article-list__article:first-child {
    margin-top: 25px;
  }
  .article-list__article {
    margin-bottom: 25px;
  }
}