$green: rgba(82, 196, 26, 1);
$grey: rgba(0, 0, 0, 0.5);
$popup-wrapper: rgba(0, 0, 0, 0.2);
$text-grey: rgba(0, 0, 0, 0.75);
$blue: rgba(24, 144, 255, 1);
$red: rgba(245, 34, 45, 1);
$background-grey: rgba(235, 238, 243, 1);
$border-grey: rgba(217, 217, 217, 1);
$background-pink: #f2bbb8;
$background-red: #DF8B8E;
$border-red: #C65357;